@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    /* overscroll-behavior: contain; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;

}

:root {
    --primaryBlack: #000000;
    --secondaryBlack: #2e2e2e;
    --primaryWhite: #FFFFFF;
    --secondaryWhite: #818195;
    --inactive: #aeaeae;
    --bgBlack: #1B1B1D;

}

.home-hero {
    padding: 0 5rem;
    height: 57.5rem;
    width: 100%;
    background-color: black;
    color: var(--primaryWhite);
    align-items: center;
}

.hero-container {
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: 7.5%;
    flex-wrap: wrap;
    align-content: stretch;

}

.col {
    margin-bottom: 15px;
    padding-right: 15px;
    /* padding-left: 15px; */
    padding-top: 240px;
    flex: 1;
    /* max-width: 75%; */
    /* flex-basis: 75%; */
}

.hero-text-wrapper {
    max-width: 920px;
}

.heading {
    /* font-family: 'Poppins', sans-serif; */
    width: 1080px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 1;
    /* letter-spacing: 2px; */
    transition: 0.3s ease all;
    z-index: 1;
    margin-bottom: 8px;

}

.subtitle {
    width: 670px;
    position: relative;
    margin-bottom: 24px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    color: var(--secondaryWhite);
    padding-top: 24px;
    padding-bottom: 40px;
    line-height: 1.5;
    transition: 0.3s ease all;
    z-index: 1;

}

.homebutton {
    position: absolute;
    top: 760px;
    left: 160px;
}

.hero-image {
    height: 56vh;
    z-index: 0;
}

.hero-image-wrapper {
    position: absolute;
    bottom: 50px;
    right: 0px;
    z-index: 0;
}

button {
    position: relative;
    z-index: 1;
}

/* Logos */
.home-logos {
    margin: auto;
    width: 100%;
    /* width: 100%; */
    align-content: center;
    justify-content: center;
    background-color: #FAFAFA;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo-content-wrapper {
    display: flex;
    width: 70%;
    align-items: center;
    margin: auto;
    max-width: 1920px;
    margin: 0 auto;
}

.logo-col {
    margin: 16px;
    width: 40%;
    /* height: auto; */
    display: flex;
    justify-content: space-between;
    /* background-color: #000000; */
}

.logos-image {
    width: 90%;
    height: auto;
}

/* Growth Section */
.growth-container {
    background-color: var(--primaryBlack);
    color: var(--primaryWhite);
    height: 100vh;
    width: 100%;

}

.growth-row {
    margin: auto;
    width: 70%;
    align-items: center;
    align-content: center;
    padding-top: 10rem;
    max-width: 1920px;
    margin: 0 auto;
}

.growth-container-wrapper {
    margin-bottom: 5%;
}

.growth-header {
    /* font-family: 'Poppins', sans-serif; */
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    width: 65%;
    margin: auto;
    line-height: 48px;
}

.growth-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--secondaryWhite);
    padding-top: 24px;
    width: 75%;
    margin: auto;

}

.growth-col {
    margin: 0 auto;
    text-align: center;
    /* background-color: aqua; */
    align-content: center;
    background-color: var(--bgBlack);
    border-radius: 16px;
    padding: 32px;
    padding-bottom: 48px;
    width: 23.5%;
}

.growth-row-wrapper {
    display: flex;
    text-align: center;
    padding-top: 24px;

}

.growth-list {
    display: block;
    width: 100%;
    margin: auto;
}

.growth-item {
    color: var(--primarWhite);
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    padding-bottom: 8px;
    color: var(--secondaryWhite);
    /* text-align: center; */

}

.growth-item-header {
    padding-bottom: 32px;
}

/* footprint */

.footprint-container {
    height: 867px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}

.footprint-col {
    /* background-color: aqua; */
    width: 50%;
}

.footprint-text-wrapper {
    margin: auto;
    width: 60%;
    padding-top: 10rem;
}

.topline {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* line-height: 18px; */
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.footprint-header-text {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 58px;
    padding-bottom: 24px;
}

.footprint-subtitle-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondaryWhite);
}

.footprint-subheader {
    padding-top: 64px;
    /* background-color: aqua; */
}

.footprint-subheader-text {
    color: var(--primaryBlack);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.footprint-subheader-subtitle {
    padding-top: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondaryWhite);
}
.footprint-logos-container {
    background-color: #F7F6F6;
    ;
}

.footprint-logos-wrapper{
    width: 50%;
    margin: auto;
    height: 100%;
    padding-top: 35%;
}
.footprint-logos{
    padding: 24px;
}
.logos{
    align-items: center;
    align-content: center;
}

@media only screen and (max-width: 1200px) {
    .heading {
        font-family: 'Helvetica', sans-serif;
        position: relative;
        width: 800px;
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 8px;
    }

    .subtitle {
        position: relative;
        width: 600px;
        font-family: 'Poppins';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        color: var(--primaryWhite);
        line-height: 1.3;
        margin-bottom: 24px;
    }

}

@media only screen and (max-width: 900px) {
    .heading {
        font-family: 'Helvetica', sans-serif;
        width: 300px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 4px;
        margin-top: 48px;

    }

    .subtitle {
        width: 75%;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        color: var(--primaryWhite);
        line-height: 1.3;
        margin-bottom: 24px;
    }

    .row {
        display: flex;
        margin-left: 2%;
        flex-wrap: wrap;
        align-content: stretch;

    }

    .hero-image {
        height: 28vh;
        z-index: 0;
    }

    .hero-image-wrapper {
        position: absolute;
        top: 4%;
        right: 5%;
        z-index: 0;

    }
}