@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

:root {
    --primaryBlack: #000000;
    --secondaryBlack: #2e2e2e;
    --primaryWhite: #FFFFFF;
    --secondaryWhite: #b9b9b9;
    --inactive: #aeaeae;
    --bgBlack: #1B1B1D;

}

.home-hero {
    padding: 0 5rem;
    height: 57.5rem;
    width: 100%;
    background-color: black;
    color: var(--primaryWhite);
    align-items: center;
    /* max-width: 1080px; */
}

.hero-container {
    align-items: center;
    width: 120vh;
}

.row {
    display: flex;
    align-items: center;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: 10%;
    flex-wrap: wrap;
    align-content: stretch;

}

.col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 240px;
    flex: 1;
    /* max-width: 75%; */
    /* flex-basis: 75%; */
}

.hero-text-wrapper {
    max-width: 920px;
}

.heading {
    font-family: 'Helvetica', sans-serif;
    width: 1080px;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 112px;
    line-height: 1;
    letter-spacing: 2px;
    transition: 0.3s ease all;
    z-index: 1;
    margin-bottom: 8px;
}

.subtitle {
    width: 670px;
    position: relative;
    margin-bottom: 24px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    color: var(--primaryWhite);
    padding-top: 24px;
    padding-bottom: 40px;
    line-height: 1.5;
    transition: 0.3s ease all;
    z-index: 1;

}

.homebutton {
    position: absolute;
    top: 760px;
    left: 160px;
}

.hero-image {
    height: 56vh;
    z-index: 0;
}

.hero-image-wrapper {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}

button {
    position: relative;
    z-index: 1;
}

/* Logos */
.home-logos {
    margin: auto;
    width: 100%;
    /* width: 100%; */
    align-content: center;
    justify-content: center;
    background-color: #FAFAFA;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo-content-wrapper {
    display: flex;
    width: 70%;
    align-items: center;
    margin: auto;
}

.logo-col {
    margin: 16px;
    width: 40%;
    /* height: auto; */
    display: flex;
    justify-content: space-between;
    /* background-color: #000000; */
}
.logos-image {
    width: 90%;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    .heading {
        font-family: 'Helvetica', sans-serif;
        position: relative;
        width: 800px;
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 8px;
    }

    .subtitle {
        position: relative;
        width: 600px;
        font-family: 'Poppins';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        color: var(--primaryWhite);
        line-height: 1.3;
        margin-bottom: 24px;
    }

}

@media only screen and (max-width: 900px) {
    .heading {
        font-family: 'Helvetica', sans-serif;
        width: 300px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 4px;
        margin-top: 48px;

    }

    .subtitle {
        width: 75%;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        color: var(--primaryWhite);
        line-height: 1.3;
        margin-bottom: 24px;
    }

    .row {
        display: flex;
        margin-left: 2%;
        flex-wrap: wrap;
        align-content: stretch;

    }

    .hero-image {
        height: 28vh;
        z-index: 0;
    }

    .hero-image-wrapper {
        position: absolute;
        top: 4%;
        right: 5%;
        z-index: 0;

    }
}