@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    /* overscroll-behavior: contain; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    transition: color, #000000 .2s ease;

}

:root {
    --primaryBlack: #000000;
    --secondaryBlack: #2e2e2e;
    --primaryWhite: #FFFFFF;
    --secondaryWhite: #999999;
    --inactive: #aeaeae;
    --bgBlack: #1B1B1D;

}

/* Team Header */
.team-header-container {
    background-color: var(--primaryBlack);
    height: 100vh;
    color: var(--primaryWhite);
    padding-top: 32vh;

}

.team-header-content-wrapper {
    width: 85vh;
    margin: auto;
    /* background-color: aqua; */

}

.team-heading {
    color: var(--primaryWhite);
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    margin-bottom: 24px;

}

.team-subtitle {
    color: var(--secondaryWhite);
    width: 70vh;
    margin: auto;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
}


/* Video */
.video-container {
    height: 50vh;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    top: -300px;
    z-index: 50;
}

.video-wrapper {
    width: 80%;
    margin: auto;
}

iframe {
    border: none;
    /* background-color: aqua; */
}

/* workking */

.working-container {
    width: 100%;
    padding-top: 40px;
    /* background-color: aqua; */
    height: 60vh;

}

.working-content-wrapper {
    width: 90vh;
    margin: auto;
    display: flex;

}

.working-col-1 {
    width: 30vh;
    /* background-color: red; */

}

.working-overline {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 12px;
}

.working-col-2 {
    width: 60vh;
    margin: auto;
    /* background-color: red; */
}

.working-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.bold {
    font-weight: 700;
    font-family: 'Poppins';
    font-style: italic;
}

/* noise */
.noise-container {
    width: 100%;
    height: 80vh;
}

.noise-wrapper {
    width: 90vh;
    margin: auto;
    object-fit: contain;
    display: flex;

}

.noise-bottom-img {
    height: auto;
    width: 120px;
    transform: rotate(340deg);
    position: relative;
    top: 10px;
    left: -50px;
}

.noise-off-img {
    height: auto;
    width: 120px;
    transform: rotate(30deg);
    position: relative;
    top: 60px;
    left: 70px;
}

.noise-center-img {
    height: auto;
    width: 360px;
    transform: rotate(20deg);
    position: relative;
    top: 10px;
    left: 0px;
}

.noise-right-img {
    height: 240px;
    width: auto;

}

.noise-overline {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 16px;
    /* background-color: aqua; */
    text-align: center;
}

.noise-text {
    font-size: 125px;
    line-height: 100px;
    letter-spacing: -0.5px;
    text-align: center;

}

.italic {
    font-style: italic;
}


.wanderers-container {
    background-color: #F7F6F6;
    height: 90vh;
    width: 100%;
    padding-top: 10vh;
}

.wanderers-content-wrapper {
    background-color: var(--primaryWhite);
    border-radius: 24px;
    width: 120vh;
    height: fit-content;
    margin: auto;
    text-align: center;
    display: flex;
    padding-bottom: 80px;
    /* padding-top: 13.5vh; */
}

.wanderer {
    width: 70vh;
    padding-top: 5vh;
    height: 50vh;
    ;
}

.CTA {
    position: relative;
    left: -120px;
    text-align: left;
}

.wanderers-text {
    text-align: left;
    width: 50vh;
    /* background-color: aqua; */
    padding-top: 8.5vh;
    font-size: 64px;
    padding-bottom: 16px;
}

.wanderers-subtitile {
    width: 50vh;
    padding-bottom: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
}

.black-button {
    color: var(--primaryWhite);
    background-color: var(--primaryBlack);
    padding: 10px 48px;
}